.site-header-title {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    /* margin: 1em; */
    margin-top: 1em
}

a {
    text-decoration: none;
    color: #04AA6D;
}

.site-header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    /* flex-wrap: wrap; */
}

.site-header-button {
    background: #04AA6D;
    color: white;
    border-radius: 0.3em;
    padding: 1em;
    /* margin: 1em; */
    font-weight: 800;
    text-decoration: none;
    width: 15em;
    height: 5em;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav .logout {
    margin-left: auto;
    font-weight: 800;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}



