.form-container {
    margin-top: 10em;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10em 5em 10em 5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-container label {
    font-size: 1.5em;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    margin: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: white;
    color:#4CAF50;
    border: 2px solid #4CAF50;
    font-weight: bold;
}