<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../../src/table/itemsByMonth.js" type="module"></script>
    <script src="../logout/logout.js" type="module"></script>


    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="container">

        <div class="site">
            <div class="site-header">
                <a href="../../index.html"><h1 class="site-header-title">Sales Tracker</h1></a>
                <div class="nav">
                    <button class="logout">Logout</button>
                </div>
                <div class="site-header-buttons">
                    <a href="./sales.html"><button class="site-header-button">All Sales</button></a>
                    <a href="./itemsByMonth.html"><button class="site-header-button">By Month</button></a>
                    <a href="./byPeriod.html"><button class="site-header-button">By Period</button></a>
                    <a href="./byDealerPerMonth.html"><button class="site-header-button">By Dealer per Month</button></a>
                    <a href="./byProfit.html"><button class="site-header-button">By Profit per month / year</button></a>
                    <a href="./averageSales.html"><button class="site-header-button">Average sales per week / year</button></a>
                </div>
            </div>
        </div>
        
        <div id="table-container" class="show"></div>
        <table class="table table-striped"></table>
    </div>
</body>
</html>